<div class="page-content" ng-controller="editRolesCtrl as vm">
  <div class="single-head">
    <h1 class="pull-left text-primary"><i class="fa fa-credit-card red"></i> Edit User Roles</h1>
    <div class="clearfix"></div>
  </div>

  <!--<div class="page-form">
    <form class="form-horizontal" role="form"> 
      <oc-edit-roles user-id="{{vm.userId}}"></oc-edit-roles>
    </form>
  </div>-->
  
  <div class="page-tables">
    <div class="table-responsive">
      <oc-edit-roles user-id="{{vm.userId}}"></oc-edit-roles>
      <div class="clearfix"></div>
    </div>
  </div>
</div>