<div class="main-content" ng-controller="groupSummaryCtrl as vm">
    <div class="container">
        <div class="page-content">
            <div class="page-tables">
                <!-- Heading -->
                <div class="single-head">
                    <!-- Heading -->
                    <h3 class="pull-left"><i class="fa fa-table purple"></i>Group Summary</h3>
                    <!-- Bread crumbs -->
                    <div class="clearfix"></div>
                </div>
                <oc-group-summary group-id="{{vm.groupId}}"></oc-group-summary>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
            