<div class="page-content">
  <div class="single-head">
    <h3 class="pull-left"><i class="fa fa-table purple"></i>Questions</h3>  
    <div class="clearfix"></div>
  </div>

  <div class="page-form">
   <a ui-sref="createQuestion({ quizId: vm.quizId, groupId: vm.groupId })"><button type="button" class="btn btn-success">Add a Question</button></a>
    <div class="clearfix"></div>
  </div>
  
  <br/>

  <div class="page-tables">
    <div class="table-responsive">
      <table cellpadding="0" cellspacing="0" border="0" id="data-table" width="100%" class="dataTable">
        <tbody>
          <tr ng-if="vm.questions.length==0">
            <td>You have not created any questions.</td>
          </tr>
          <tr ng-repeat="question in vm.questions  | filter:{quizId:vm.quizId}">
            <td><a ui-sref="editQuestion({ questionId: question._id })">{{question.questionAsked}}</a></td>
            <td>
              <div class="pull-right">
                <oc-delete-question question-id="{{question._id}}"></oc-delete-question>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="clearfix"></div>
    </div>
  </div>
</div>