<form>
    <div>
        <label>Quiz Name: </label> <input type="text" placeholder="{{vm.quiz.name}}" ng-model="vm.quiz.name"/>
    </div>
    <label>Questions:</label>
    <div ng-repeat="question in vm.quiz.questions">
        <label>{{vm.questionName(question)}}
            <button ng-click="vm.up($index)">up</button>
            <button ng-click="vm.down($index)">down</button>
            <button ng-click="vm.removeQuestion($index)">-</button>
        </label>

    </div>

    <oc-delete-quiz quiz-id="tester"></oc-delete-quiz>
    <oc-create-quiz></oc-create-quiz>

    <label> <button ng-click="vm.update()">Submit</button></label>

</form>